In [404]:

import pandas as pd
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)

Loading the turnstile dataset, it has usage numbers at the different stations

In [181]:
%matplotlib inline
turn_stile_df = pd.read_csv("Turnstile_Usage_Data__2016.csv")

# Size of dataset:
print(turn_stile_df.shape)

(9492670, 11)

In [405]:
turn_stile_df.head()

    C/A  Unit       SCP Station Line Name Division        Date      Time Description  Entries  Exits
0  A002  R051  02-00-00   59 ST    NQR456      BMT  03/04/2016  23:00:00     REGULAR  5572864                                            1881239
1  A002  R051  02-00-00   59 ST    NQR456      BMT  03/04/2016  19:00:00     REGULAR  5572521                                            1881206
2  A002  R051  02-00-00   59 ST    NQR456      BMT  03/04/2016  15:00:00     REGULAR  5571587                                            1881113
3  A002  R051  02-00-00   59 ST    NQR456      BMT  03/04/2016  11:00:00     REGULAR  5571313                                            1881031
4  A002  R051  02-00-00   59 ST    NQR456      BMT  03/04/2016  08:10:05     REGULAR  5571173                                            1880736

Loading Information that connects the stations to a latitude longitude location

In [43]:
booth_id_df = pd.read_csv("Remote-Booth-Station - turnstiles 2013.csv")
booth_location_df = pd.read_csv("Remote-Booth-Station - stops_mgenc.csv")

In [406]:
booth_id_df.head()

  Remote Booth stop_id.2013   Station.2013 Line.2013 Division.2013
0   R051  A002          R11  LEXINGTON AVE    456NQR           BMT
1   R050  A004          R11  LEXINGTON AVE    456NQR           BMT
2   R079  A006          R13    5 AVE-59 ST       NQR           BMT
3   R079  A007          R13    5 AVE-59 ST       NQR           BMT
4   R080  A010          R14    57 ST-7 AVE       NQR           BMT

In [407]:
booth_location_df.head()

  stop_id                              stop_name   stop_lat    stop_lon stop_cd stop_ct stop_br
0     101  242ND STREET-BWAY (Van Cortland Park)  40.889248  -73.898583      na      na   Bronx
1     103                      238TH STREET-BWAY  40.884653  -73.900878      na      na   Bronx
2     104                      231ST STREET-BWAY  40.878856  -73.904834      na      na   Bronx
3     106        225TH STREET-BWAY (Marble Hill)  40.874561  -73.909831      na      na   Bronx
4     107                     215TH STREET-10 AV  40.869444  -73.915279     NaN     NaN     NaN

Combining the two tables by the ID of the stop

In [408]:
combined_location_df = pd.merge(booth_id_df, booth_location_df, left_on='stop_id.2013', right_on='stop_id', how='left')

Removing Columns that are not needed

In [413]:
combined_location_df = combined_location_df[['Remote', 'Booth', 'Station.2013', 'stop_name', 'stop_lat', 'stop_lon']]

In [414]:
combined_location_df[combined_location_df.Remote == 'R051']

    Remote  Booth   Station.2013                 stop_name   stop_lat    stop_lon
0     R051   A002  LEXINGTON AVE  LEXINGTON AVENUE - 59 ST   40.76266  -73.967258
577   R051   R245          59 ST   59TH STREET - LEXINGTON  40.762526  -73.967967
578   R051  R245A          59 ST   59TH STREET - LEXINGTON  40.762526  -73.967967

In [415]:
combined_location_df = combined_location_df.groupby('Remote').apply(lambda x: x.iloc[0])

In [416]:
combined_location_df.head()

       Remote Booth    Station.2013                   stop_name   stop_lat    stop_lon
Remote
R001     R001  A058    WHITEHALL ST  WHITEHALL ST - SOUTH FERRY  40.703087  -74.012994
R002     R002  A077       FULTON ST               FULTON STREET  40.710374  -74.007582
R003     R003  J025   CYPRESS HILLS               CYPRESS HILLS  40.689941   -73.87255
R004     R004  J028    ELDERTS LANE        ELDERTS LANE - 75 ST  40.691324  -73.867139
R005     R005  J030  FOREST PARKWAY      FOREST PARKWAY - 85 ST  40.692435   -73.86001

Finally, connecting the turnstile data with the location data

In [417]:
turn_location_df = pd.merge(turn_stile_df, combined_location_df, left_on='Unit', right_on='Remote', how='left')

Removing useless columns

In [419]:
turn_location_df = turn_location_df[['C/A', 'Unit','SCP','Division','Description','Station', 'Line Name', 'Date', 'Time', 'Entries', 'stop_name', 'stop_lat', 'stop_lon']]

In [420]:
turn_location_df = turn_location_df.sort_values(['C/A', 'Unit','SCP', 'Date', 'Time'])
turn_location_df.head(10)

      C/A  Unit       SCP Division Description Station Line Name        Date      Time  Entries                 stop_name  stop_lat    stop_lon
388  A002  R051  02-00-00      BMT     REGULAR   59 ST    NQR456  01/02/2016  03:00:00  5478180  LEXINGTON AVENUE - 59 ST  40.76266  -73.967258
387  A002  R051  02-00-00      BMT     REGULAR   59 ST    NQR456  01/02/2016  07:00:00  5478183  LEXINGTON AVENUE - 59 ST  40.76266  -73.967258
386  A002  R051  02-00-00      BMT     REGULAR   59 ST    NQR456  01/02/2016  11:00:00  5478262  LEXINGTON AVENUE - 59 ST  40.76266  -73.967258
385  A002  R051  02-00-00      BMT     REGULAR   59 ST    NQR456  01/02/2016  15:00:00  5478519  LEXINGTON AVENUE - 59 ST  40.76266  -73.967258
384  A002  R051  02-00-00      BMT     REGULAR   59 ST    NQR456  01/02/2016  19:00:00  5478940  LEXINGTON AVENUE - 59 ST  40.76266  -73.967258
383  A002  R051  02-00-00      BMT     REGULAR   59 ST    NQR456  01/02/2016  23:00:00  5479213  LEXINGTON AVENUE - 59 ST  40.76266  -73.967258
382  A002  R051  02-00-00      BMT     REGULAR   59 ST    NQR456  01/03/2016  03:00:00  5479279  LEXINGTON AVENUE - 59 ST  40.76266  -73.967258
381  A002  R051  02-00-00      BMT     REGULAR   59 ST    NQR456  01/03/2016  07:00:00  5479282  LEXINGTON AVENUE - 59 ST  40.76266  -73.967258
380  A002  R051  02-00-00      BMT     REGULAR   59 ST    NQR456  01/03/2016  11:00:00  5479344  LEXINGTON AVENUE - 59 ST  40.76266  -73.967258
379  A002  R051  02-00-00      BMT     REGULAR   59 ST    NQR456  01/03/2016  15:00:00  5479558  LEXINGTON AVENUE - 59 ST  40.76266  -73.967258

Only considering entries for the hour 23:00, this is a hack!

In [421]:
turn_23 = turn_location_df[turn_location_df.Time == '23:00:00']

Creating a Station location dataframe

In [437]:
station_location = turn_23[['Station', 'stop_lat', 'stop_lon']]

In [438]:
station_location = station_location.groupby('Station').apply(lambda x:x.iloc[0])

In [439]:
station_location.head()

                     Station   stop_lat    stop_lon
Station
1 AV                    1 AV  40.730953  -73.981628
103 ST-CORONA  103 ST-CORONA  40.749865    -73.8627
104 ST                104 ST  40.695178   -73.84433
110 ST                110 ST   40.79502   -73.94425
111 ST                111 ST  40.697418  -73.836345

In [440]:
import datetime

In [441]:
turn_23['Date'] = pd.to_datetime(turn_23.Date)

/Users/leifur/smartcities_modelteam03/venv/lib/python2.7/site-packages/ipykernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [442]:
turn_23.head()

      C/A  Unit       SCP Division Description Station Line Name       Date      Time  Entries                 stop_name  stop_lat    stop_lon
383  A002  R051  02-00-00      BMT     REGULAR   59 ST    NQR456 2016-01-02  23:00:00  5479213  LEXINGTON AVENUE - 59 ST  40.76266  -73.967258
377  A002  R051  02-00-00      BMT     REGULAR   59 ST    NQR456 2016-01-03  23:00:00  5480016  LEXINGTON AVENUE - 59 ST  40.76266  -73.967258
371  A002  R051  02-00-00      BMT     REGULAR   59 ST    NQR456 2016-01-04  23:00:00  5481770  LEXINGTON AVENUE - 59 ST  40.76266  -73.967258
365  A002  R051  02-00-00      BMT     REGULAR   59 ST    NQR456 2016-01-05  23:00:00  5483391  LEXINGTON AVENUE - 59 ST  40.76266  -73.967258
359  A002  R051  02-00-00      BMT     REGULAR   59 ST    NQR456 2016-01-06  23:00:00  5485169  LEXINGTON AVENUE - 59 ST  40.76266  -73.967258

Finding the diffs!

In [448]:
turn_23['day_before'] = turn_23.Date.map(lambda x: x - datetime.timedelta(days=1))

/Users/leifur/smartcities_modelteam03/venv/lib/python2.7/site-packages/ipykernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [449]:
turn_23.head()

      C/A  Unit       SCP Division Description Station Line Name       Date      Time  Entries                 stop_name  stop_lat    stop_lon day_before
383  A002  R051  02-00-00      BMT     REGULAR   59 ST    NQR456 2016-01-02  23:00:00  5479213  LEXINGTON AVENUE - 59 ST  40.76266  -73.967258 2016-01-01
377  A002  R051  02-00-00      BMT     REGULAR   59 ST    NQR456 2016-01-03  23:00:00  5480016  LEXINGTON AVENUE - 59 ST  40.76266  -73.967258 2016-01-02
371  A002  R051  02-00-00      BMT     REGULAR   59 ST    NQR456 2016-01-04  23:00:00  5481770  LEXINGTON AVENUE - 59 ST  40.76266  -73.967258 2016-01-03
365  A002  R051  02-00-00      BMT     REGULAR   59 ST    NQR456 2016-01-05  23:00:00  5483391  LEXINGTON AVENUE - 59 ST  40.76266  -73.967258 2016-01-04
359  A002  R051  02-00-00      BMT     REGULAR   59 ST    NQR456 2016-01-06  23:00:00  5485169  LEXINGTON AVENUE - 59 ST  40.76266  -73.967258 2016-01-05

Creating a copy of the dataframe to join on

In [450]:
day_before = turn_23[['C/A','Unit', 'SCP','Division','Description', 'Date', 'Entries']]
day_before = day_before.rename(columns= {'Entries': 'before_entries', 'Date':'day_before'})

In [451]:
day_before.head()

      C/A  Unit       SCP Division Description day_before  before_entries
383  A002  R051  02-00-00      BMT     REGULAR 2016-01-02         5479213
377  A002  R051  02-00-00      BMT     REGULAR 2016-01-03         5480016
371  A002  R051  02-00-00      BMT     REGULAR 2016-01-04         5481770
365  A002  R051  02-00-00      BMT     REGULAR 2016-01-05         5483391
359  A002  R051  02-00-00      BMT     REGULAR 2016-01-06         5485169

Joining the usage on day and day before

In [452]:
comb = pd.merge(turn_23, day_before, on = ['C/A','Unit', 'SCP','Division','Description', 'day_before'], how='left')

comb = comb.sort_values(['C/A', 'Unit', 'SCP','Date'])

In [453]:
comb.shape

(340550, 15)

In [454]:
turn_23.shape

(309797, 14)

In [455]:
comb.head()

    C/A  Unit       SCP Division Description Station Line Name       Date      Time  Entries                 stop_name  stop_lat    stop_lon day_before  before_entries
0  A002  R051  02-00-00      BMT     REGULAR   59 ST    NQR456 2016-01-02  23:00:00  5479213  LEXINGTON AVENUE - 59 ST  40.76266  -73.967258 2016-01-01             NaN
1  A002  R051  02-00-00      BMT     REGULAR   59 ST    NQR456 2016-01-03  23:00:00  5480016  LEXINGTON AVENUE - 59 ST  40.76266  -73.967258 2016-01-02       5479213.0
2  A002  R051  02-00-00      BMT     REGULAR   59 ST    NQR456 2016-01-04  23:00:00  5481770  LEXINGTON AVENUE - 59 ST  40.76266  -73.967258 2016-01-03       5480016.0
3  A002  R051  02-00-00      BMT     REGULAR   59 ST    NQR456 2016-01-05  23:00:00  5483391  LEXINGTON AVENUE - 59 ST  40.76266  -73.967258 2016-01-04       5481770.0
4  A002  R051  02-00-00      BMT     REGULAR   59 ST    NQR456 2016-01-06  23:00:00  5485169  LEXINGTON AVENUE - 59 ST  40.76266  -73.967258 2016-01-05       5483391.0

The diff of today cumulative entries minus yesterday

In [456]:
comb['entries_diff'] = comb.Entries - comb.before_entries

Does it make sense?:

In [458]:
print comb.entries_diff.max()
print comb.entries_diff.min()

1675034616.0
-1877466424.0

They don't! Let's throw away the entries that don't make sense! (hacky hack)

In [459]:
comb_sub = comb[comb.entries_diff<10000]

In [460]:
comb_sub = comb_sub[0<comb_sub.entries_diff]

Sum across turnstiles at stations for a particular dates

In [462]:
station_group = comb_sub.groupby(['Station', 'Date']).agg({'entries_diff':sum})

In [465]:
station_group['Station'] = station_group.index.map(lambda x: x[0])

In [466]:
station_group.head()

                    entries_diff Station
Station Date
1 AV    2016-01-03       14437.0    1 AV
        2016-01-04       21800.0    1 AV
        2016-01-05       22641.0    1 AV
        2016-01-06       23787.0    1 AV
        2016-01-07       23839.0    1 AV

Find the average usage for stations over days

In [467]:
final = station_group.groupby(['Station']).agg({'entries_diff':'mean'})

In [468]:
final =final.reset_index()

Get the locations back!

In [470]:
final_location = pd.merge(final, station_location, on='Station')

In [471]:
final_location = final_location.sort_values('entries_diff',ascending=False)

In [473]:
final_location.head(300)

             Station   entries_diff   stop_lat    stop_lon
39   34 ST-HERALD SQ  120875.913793  40.749567   -73.98795
41    34 ST-PENN STA  115917.241379  40.752287  -73.993391
198   TIMES SQ-42 ST   96230.508621   40.75529  -73.987495
74             86 ST   88998.215517  40.622687  -74.028398
59             59 ST   79695.431034   40.76266  -73.967258
31             23 ST   76994.137931  40.741303  -73.989344
60    59 ST COLUMBUS   73811.508621  40.768247  -73.981929
143  GRD CNTRL-42 ST   68982.008621  40.751776  -73.976848
115      CHAMBERS ST   68055.068966  40.713243  -74.003401
134    FLUSHING-MAIN   61454.405172    40.7596   -73.83003
50    47-50 STS ROCK   59631.603448  40.758663  -73.981329
47   42 ST-PORT AUTH   56956.956897  40.757308  -73.989735
54             50 ST   50936.853448  40.588841  -73.983765
155  JKSN HT-ROOSVLT   50432.080357  40.746644  -73.891338
80    ATL AV-BARCLAY   46254.456897  40.684359  -73.977666
153  JAY ST-METROTEC   42781.344828   40.69218  -73.985942
9              14 ST   41765.068966  40.737335  -73.996786
161  LEXINGTON AV/53   40562.017241  40.757552  -73.969055
152   JAMAICA CENTER   39938.678571  40.702147  -73.801109
46   42 ST-BRYANT PK   39582.525862  40.754222  -73.984569
6             125 ST   38827.879310  40.811109  -73.952343
10            145 ST   37887.870690  40.824783  -73.944216
101     BOROUGH HALL   37128.370690  40.693219  -73.989998
140         GRAND ST   32751.844828  40.711926   -73.94067
127        DEKALB AV   30749.870690  40.690635  -73.981824
125  CROWN HTS-UTICA   30130.061404  40.668897  -73.932942
103    BOWLING GREEN   29671.293103  40.704817  -74.014065
94        BEDFORD AV   28323.172414  40.717304  -73.956872
117        CHURCH AV   27935.405172  40.650527  -73.962982
51             49 ST   27180.061404  40.759901  -73.984139
13            168 ST   26466.025862  40.840556  -73.940133
0               1 AV   24975.672414  40.730953  -73.981628
135       FORDHAM RD   24927.577586  40.861296  -73.897749
204          WALL ST   24859.250000  40.706821    -74.0091
58        57 ST-7 AV   24812.534483  40.764664  -73.980658
196   SUTPHIN-ARCHER   23800.017391   40.70546  -73.810708
191        SPRING ST   23715.853448  40.726227  -74.003739
156    JUNCTION BLVD   23507.275862  40.749145  -73.869527
174      NOSTRAND AV   23100.474138  40.680438  -73.950426
151   JAMAICA 179 ST   22084.982759  40.712646  -73.783817
55             51 ST   21979.185841  40.757107   -73.97192
36       3 AV-149 ST   21970.215517  40.816109  -73.917757
169   MYRTLE-WYCKOFF   21338.686957  40.699814  -73.911586
12            167 ST   20877.051724  40.833773  -73.918438
1      103 ST-CORONA   20333.120690  40.749865    -73.8627
158        KINGS HWY   19513.815789   40.60867  -73.957734
108  BROOKLYN BRIDGE   19268.922414  40.713243  -74.003401
111         CANAL ST   18631.508621  40.720824  -74.005229
26              2 AV   18587.418182  40.723402  -73.989938
71          8 ST-NYU   18523.719298  40.730328  -73.992629
79   ASTORIA DITMARS   17704.702703  40.775036  -73.912034
137        FULTON ST   17524.345455  40.710197  -74.007691
62   63 DR-REGO PARK   17186.629310  40.729846  -73.861604
141    GRAND-NEWTOWN   17146.448276  40.737015  -73.877223
75    90 ST-ELMHURST   17137.560345  40.748408  -73.876613
182        PRINCE ST   16410.017544  40.724329  -73.997702
100      BLEECKER ST   16329.894737  40.725915  -73.994659
7             135 ST   16199.809091  40.814229   -73.94077
72   82 ST-JACKSON H   15821.336207  40.747659  -73.883697
202   VERNON-JACKSON   15562.232759  40.742626  -73.953581
194      STEINWAY ST   15401.275862  40.756879   -73.92074
186        RECTOR ST   15193.137931   40.70722  -74.013342
37             30 AV   15006.657895  40.766779  -73.921479
11    149/GRAND CONC   14770.129310  40.818375  -73.927351
49    46 ST BLISS ST   14586.307018  40.743132  -73.918435
4             111 ST   14347.120690  40.697418  -73.836345
129    EAST BROADWAY   14306.990654  40.713715  -73.990173
210  WORLD TRADE CTR   14106.250000  40.714111  -74.008585
131      ELMHURST AV   14017.413793  40.742454  -73.882017
3             110 ST   13844.285714   40.79502   -73.94425
162  LEXINGTON AV/63   13707.833333   40.76463  -73.966115
106         BROADWAY   13416.107143   40.76182  -73.925508
17            175 ST   13294.203540  40.847391  -73.939704
34             28 ST   13201.017241  40.745494  -73.988691
123         COURT SQ   13064.129310  40.747846     -73.946
87      BAY RIDGE AV   12799.594828  40.634967  -74.023377
53             5 AVE   12750.284483  40.753821  -73.981963
185   QUEENSBORO PLZ   12507.879310  40.750582  -73.940202
78      ASTORIA BLVD   12480.594595  40.770258  -73.917843
21            181 ST   12430.517241  40.849505  -73.933596
105   BRIGHTON BEACH   12206.422414  40.577621  -73.961376
193       ST. GEORGE   11984.342593  40.643748  -74.073643
112       CARROLL ST   11983.219048  40.680303  -73.995048
109      BURNSIDE AV   11961.201754  40.853453  -73.907684
38   33 ST-RAWSON ST   11766.939655  40.744587  -73.930997
45   40 ST LOWERY ST   11163.767857  40.743781  -73.924016
19             18 AV   11162.715517  40.607954  -74.001736
138        GRAHAM AV   10898.267857  40.714565  -73.944053
172        NEVINS ST   10764.166667  40.688246  -73.980492
132        EUCLID AV   10730.690909  40.675377  -73.872106
136      FRANKLIN AV   10663.913793  40.670682  -73.958131
107     BROADWAY JCT   10566.964602  40.678334  -73.905316
114  CENTRAL PK N110   10291.377193  40.799075  -73.951822
150       HOYT-SCHER   10163.263158  40.688484  -73.985001
116   CHRISTOPHER ST    9925.620690  40.733422  -74.002906
184    PROSPECT PARK    9877.620690  40.661614  -73.962246
15            170 ST    9866.956140  40.840075  -73.917791
32            231 ST    9861.373913  40.878856  -73.904834
76             96 ST    9727.620690  40.791644  -73.964694
52          4AV-9 ST    9726.273585  40.670847  -73.988302
29   21 ST-QNSBRIDGE    9631.473684  40.754203  -73.942836
144    GREENPOINT AV    9591.324561  40.731352  -73.954449
63             67 AV    9478.913793  40.726523  -73.852719
170        NASSAU ST    9187.715517  40.724635  -73.951277
14            169 ST    9078.724138   40.71047  -73.793604
25            191 ST    9072.418182  40.855225  -73.929412
197  SUTTER AV-RUTLD    9032.157143  40.664717   -73.92261
96   BEDFORD-NOSTRAN    8835.482759  40.689627  -73.953522
20             18 ST    8834.482759   40.74104  -73.997871
65             72 ST    8506.938596  40.775594   -73.97641
146        HALSEY ST    8239.008850  40.695602  -73.904084
176  OZONE PK LEFFRT    8222.212963  40.685951  -73.825798
180  PENNSYLVANIA AV    8220.236111  40.664635  -73.894895
166        MORGAN AV    8158.215517  40.706152  -73.933147
189      SARATOGA AV    8117.945946  40.661453  -73.916327
154     JEFFERSON ST    8087.913793  40.706607  -73.922913
35              3 AV    8046.818966  40.732849  -73.986122
139  GRAND ARMY PLAZ    7891.844828  40.675235  -73.971046
149          HOYT ST    7870.879310  40.690545  -73.985065
124   COURT SQ-23 ST    7850.077586  40.747846     -73.946
128       DYCKMAN ST    7806.787611  40.860531  -73.925536
142         GRANT AV    7680.878261  40.677044   -73.86505
40   34 ST-HUDSON YD    7633.603448        NaN         NaN
56             53 ST    7632.928571  40.645069  -74.014034
165      MONTROSE AV    7581.905172  40.707739   -73.93985
200   V.CORTLANDT PK    7559.582609  40.889248  -73.898583
209         WOODLAWN    7558.344828  40.886037  -73.878751
148          HIGH ST    7531.547826  40.699337  -73.990531
173      NEW LOTS AV    7470.930435  40.666235  -73.884079
42             36 AV    7347.883929  40.756804  -73.929575
179  PELHAM BAY PARK    7215.269565  40.852462  -73.828121
28            207 ST    7103.017391  40.864621  -73.918822
70             79 ST    7088.362069  40.613501   -74.00061
113   CASTLE HILL AV    6983.948276  40.834255  -73.851222
167  MORISN AV/SNDVW    6924.913793  40.829521  -73.874516
178     PARSONS BLVD    6746.258621  40.707564  -73.803326
23            183 ST    6723.365217  40.858407  -73.903879
199         UNION ST    6664.896552  40.677316   -73.98311
64             71 ST    6599.362069  40.619589  -73.998864
160  KINGSTON-THROOP    6566.456897  40.679921  -73.940859
205   WESTCHESTER SQ    6552.448276  40.839892  -73.842952
18            176 ST    6549.491379   40.84848  -73.911794
188  ROOSEVELT ISLND    6476.922414  40.759145   -73.95326
122     CORTELYOU RD    6366.723214  40.640927  -73.963891
48             45 ST    6359.939655  40.648939  -74.010006
118        CITY HALL    6293.245455  40.713282  -74.006978
83          AVENUE J    6198.831858  40.625039  -73.960803
195      STERLING ST    6051.543860  40.662742   -73.95085
119         CLARK ST    6050.681034  40.697466  -73.993086
95   BEDFORD PK BLVD    6016.155172  40.873412  -73.890064
84          AVENUE M    5939.561404  40.617618  -73.959399
168       MT EDEN AV    5882.318966  40.844434  -73.914685
183      PROSPECT AV    5874.043103  40.665414  -73.992872
163  MARBLE HILL-225    5815.716814  40.874561  -73.909831
145      GUN HILL RD    5784.669643  40.869526  -73.846384
121  CLINTON-WASH AV    5773.715517  40.683263  -73.965838
69             77 ST    5758.068966  40.629742   -74.02551
16       174-175 STS    5735.586207    40.8459  -73.910136
22       182-183 STS    5653.398148  40.856093  -73.900741
187      ROCKAWAY AV    5404.808511  40.662549  -73.908946
27             20 AV    5373.035088  40.604556  -73.998168
201    VAN SICLEN AV    5367.888889  40.665449  -73.889395
120       CLASSON AV    5315.086207  40.688873   -73.96007
159      KINGSTON AV    5216.474138  40.669399  -73.942161
88   BAY RIDGE-95 ST    5129.956522  40.616622  -74.030876
104        BRIARWOOD    5077.877193  40.709179  -73.820574
133     FAR ROCKAWAY    5063.232759  40.603995  -73.755405
208   WOODHAVEN BLVD    5017.850877  40.693879  -73.851576
190       SMITH-9 ST    4946.207921   40.67358  -73.995959
130  EASTN PKWY-MUSM    4927.836207  40.671987  -73.964375
24            190 ST    4722.565217  40.859022   -73.93418
99        BEVERLY RD    4595.385965  40.645098  -73.948959
207        WILSON AV    4555.350427  40.688764  -73.904046
2             104 ST    4383.775862  40.695178   -73.84433
171          NECK RD    4323.267241  40.595246  -73.955161
192   ST LAWRENCE AV    4298.189655  40.831509  -73.867618
147    HARLEM 148 ST    4264.482143   40.82388   -73.93647
164  METROPOLITAN AV    4246.413793  40.711396  -73.889601
181     PRESIDENT ST    4191.853448  40.667883  -73.950683
97         BERGEN ST    4094.447368  40.686145  -73.990862
73   85 ST-FOREST PK    4075.318966  40.692435   -73.86001
68     75 ST-ELDERTS    3950.500000  40.691324  -73.867139
157        JUNIUS ST    3894.485714  40.663515  -73.902447
44         4 AV-9 ST    3859.980583  40.670847  -73.988302
33             25 ST    3858.793103  40.660397  -73.998091
61              6 AV    3696.560345  40.737335  -73.996786
67             75 AV    3695.275862  40.718331  -73.837324
66    74 ST-BROADWAY    3580.133929  40.746644  -73.891338
102           BOWERY    3562.707965   40.72028  -73.993915
8     138/GRAND CONC    3491.905172  40.813224  -73.929849
177       PARK PLACE    3487.818966  40.714111  -74.008585
175       OCEAN PKWY    3239.879310  40.576312   -73.96849
43             39 AV    3088.081818  40.752882  -73.932755
82          AVENUE H    3076.756522   40.62927  -73.961639
98     BEVERLEY ROAD    3023.912281  40.644031  -73.964492
85          AVENUE P    2831.252174  40.608944  -73.973022
5             121 ST    2568.586207  40.700492  -73.828294
92       BEACH 60 ST    2542.060345  40.592374  -73.788522
86          AVENUE X    2513.130435   40.58962   -73.97425
93       BEACH 67 ST    2433.648649  40.590927  -73.796924
57             55 ST    2266.850877  40.631435  -73.995476
30            215 ST    2177.191304  40.869444  -73.915279
110      BUSHWICK AV    2124.025862  40.682829  -73.905249
77   AQUEDUCT RACETR    2041.586207  40.668234  -73.834058
89       BEACH 25 ST    1995.666667  40.600066  -73.761353
203  W 8 ST-AQUARIUM    1976.000000  40.576128  -73.975936
206      WHITLOCK AV    1841.283186  40.826525  -73.886283
81       ATLANTIC AV    1566.808989  40.675345  -73.903097
126    CYPRESS HILLS    1507.241379  40.689941   -73.87255
90       BEACH 36 ST     933.789474  40.595398  -73.768175
91       BEACH 44 ST     644.403509  40.592943  -73.776013

In [398]:
final_location.to_csv('station_traffic_location.csv')